<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<div class="detail" *ngIf="product" >
    <h1 class="h1 mb-3 font-weight-normal">Details</h1>
    <table class="table table-striped">
        <tr>
            <td class="h5 mb-3 font-weight-heavy">Name: {{product.name}}</td>
        </tr>

        <tr>
            <td class="h5 mb-3 font-weight-heavy">Quantity: {{product.quantity}}</td>
        </tr>

        <a [routerLink]="['/products']" class="btn btn-md btn-warning">BACK</a>
        <a *ngIf="product.quantity==0" (click)="delete(product._id)" class="btn btn-md btn-danger">DELETE</a>

    </table>
</div>